.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 20px;
  width: 20px;
}

.card__header__min p {
  font-size: 1.8rem;
  font-weight: 500;
}

.card__header__min:hover  h3 {
  color: var(--ifm-color-primary);
}