/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4.5rem 0 4.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-header-background-color);
}

header > div > h2{
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
}

header > div > h1{
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
}

.hero{
  background-color: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper{
  background: var(--ifm-background-color) !important;
}