/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #317aff;
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: #F4F4F5;
  --ifm-navbar-link-hover: #000;
  --ifm-navbar-link: #91919D;
  --ifm-heading-color: #08090B;
  --ifm-header-background-color: #E9E9EB;

/* Typography. */
  --ifm-heading-font-family: 'Manrope', sans-serif;
  --ifm-font-family-base: 'Manrope', sans-serif;
  --ifm-heading-font-weight: 800;

/* Header intro background */
  --ifm-hero-background-min-color: #FFFFFF;
  --ifm-hero-text-color: #08090B;

/* Main body */

  --ifm-background-color: #FFFFFF;

/* Footer */
  --ifm-footer-background-color: #F4F4F5;
  
/* Card */
  --ifm-card-background-color: #F4F4F5; 
  --ifm-spacing-horizontal: 0.5rem;
  --ifm-spacing-vertical: 1rem;
  --ifm-card-border-radius: 0px;
  --ifm-card-body-color: #91919D;
  --ifm-card-body-color-hover: #BDBDC4;
  --ifm-card-header: #17191C;
  --ifm-card-header-hover: #FFFFFF;

/* Search */
  --ifm-input-border-color: #BDBDC4;
  --ifm-input-cancel-color: #FFFFFF;
  --ifm-input-text-color: var(--ifm-navbar-link-color);

/* Boxes */
  --ifm-input-minima-border-color: #317aff;
  --ifm-input-minima-bacground-color: rgba(90, 148, 255, 0.1);

/* Transition */
  transition: all 0.3s ease-out;

/* Icon color */
  --ifm-icon-color: invert(5%) sepia(10%) saturate(1081%) hue-rotate(176deg) brightness(98%) contrast(89%);
  --ifm-icon-color-hover: brightness(0) invert(1);

  /* Background header */
  --ifm-header-bg:  url(../../static/icons/header_bg_white.png);

  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><path d="M4.9,9.3L8,6.2l3.1,3.1L12,9.3l-4-4l-4,4L4.9,9.3z"/></svg>');
}

.main-wrapper {
  background: var(--ifm-background-color);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #317aff;
  --ifm-navbar-background-color: #17191C;
  --ifm-header-background-color: #17191C;
  /* --ifm-navbar-link-hover: #F4F4F5; */
  --ifm-navbar-link-hover: #FFFFFF;
  --ifm-navbar-link: #91919D;
  --ifm-input-cancel-color: #17191C;

  --ifm-card-header: #FFFFFF;
  --ifm-card-header-hover: #17191C;

/* Typography */
  --ifm-heading-color: #ffffff;
  --ifm-hero-text-color: #ffffff;

/* Main body */
  --ifm-background-color: #08090B;

/* Footer */
--ifm-footer-background-color: #17191C;
  
/* Card */
  --ifm-card-background-color: #17191C;
  --aa-muted-color-rgb: rgb(255, 255, 256) !important;
  --ifm-input-text-color: #FFFFFF;
  --ifm-card-body-color: #BDBDC4;
  --ifm-card-body-color-hover: #91919D;

/* Boxes */
  --ifm-input-minima-background-color: rgba(90, 148, 255, 0.4);

/* Transition */
  transition: all 0s ease-out;

/* Icon color */
  --ifm-icon-color: brightness(0) invert(1);
  --ifm-icon-color-hover: invert(5%) sepia(10%) saturate(1081%) hue-rotate(176deg) brightness(98%) contrast(89%);

  --ifm-header-bg:  url(../../static/icons/header_bg.png);
}

/* Boxes */
.alert {
  background-color: var(--ifm-input-minima-bacground-color);
  border-color: var(--ifm-input-minima-border-color);
}

[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}

img[src$='#width50']{
  width: 50%;
}

.row .col, img {
  max-width: 100%;
  width: 90%;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 1.8rem;
}

.navbar__logo {
  margin-left: 0.5rem;
  height: 3rem;
}

.navbar {
  box-shadow: none;
}

.navbar__link, .navbar__brand{
  color: var(--ifm-navbar-link);
}


.navbar__link:hover, .navbar__brand:hover{
  color: var(--ifm-navbar-link-hover);
}

.menu__link--active{
  color: var(--ifm-navbar-link-hover) !important;
}

.menu__link{
  color: var(--ifm-navbar-link);
}

.menu__link:hover{
  color: var(--ifm-navbar-link-hover);
}

.table-of-contents__link{
  color: var(--ifm-navbar-link);
}

.table-of-contents__link:hover{
  color: var(--ifm-navbar-link-hover);
}

.pagination-nav__link {
  border: 0px solid var(--ifm-color-emphasis-300);
  border-radius: 1px;
  background-color: var(--ifm-card-background-color);
}

.pagination-nav__label{
  color: var(--ifm-navbar-link)
}

.pagination-nav__label:hover{
  color: var(--ifm-navbar-link-hover)
}

.hero > .container{
  z-index: 2;
}

.hero::before{
  content: '';
  background-image: var(--ifm-header-bg);
  background-position: center;
  background-size: 1178px;
  background-repeat: repeat;
  width: 100%;
  height: 400%;
  position: absolute;
  z-index: 1;
  transform: rotate(-15deg);
  z-index: 1;
}

div.navbar__inner > div:nth-child(1) > a:nth-child(3){
  margin-left: 2.3rem;
}

@media screen and (max-width: 1250px) {
  .navbar__items--right > .navbar__link{
    display: none;
  }
}

/* Footer styling */
.footer--dark {
  --ifm-footer-background-color: #17191C;
}
.footer__bottom {
  text-align: left;
}
.footer__copyright{
  font-size: 12px;
}

.footer__logo{
  display: flex;
  filter: var(--ifm-icon-color);
  margin-bottom: 26px;
  margin-top: 0;
  width: 100%;
  justify-items: center;
}

.footer__logo img{
  width: 180px;
}

/* Removing link icon */
.footer__link-item svg, .navbar__link svg {
  display: none;
}

div.row.footer__links > div:nth-child(1){
  padding-top: 0rem !important;
}

div.row.footer__links > div:nth-child(1) > div{
  display: none;
}

div.row.footer__links > div:nth-child(1) > ul > li:nth-child(1) > p{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
}

div.row.footer__links > div:nth-child(1) .footer__link-item{
  font-size: 12px;
}

.footer__link-item{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.footer__link-item:hover{
  text-decoration: none;
  color: var(--ifm-navbar-link-hover);
}

/* Removing breadcrumbs */
.theme-doc-breadcrumbs{
  display: none;
}

/* Typography */

.hero__title {
  font-size: 3rem;
  font-weight: 500;
}


/* Content innner page margin left */

/* Border around swith mode */
.navbar__items [role="button"] {
  border: 1px solid;
}

.toggleButton_gllP{
  border: 1px solid;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Cards */

.main-wrapper > main > section{
  padding: 4.5rem 0 3.5rem 0;
}

.card{
  animation: .4s .15s backwards a;
  margin-top: 0;
  padding: 0.8rem 2rem 1rem 2rem;
  transition-duration: 0s;
  transition-property: all;
  min-height: 100%;
  height: 100%;
}
.card:hover{
  background-color: var(--ifm-heading-color);
  color: var(--ifm-navbar-background-color);
}

.card__icon{
  width: 32px;
  height: 32px;
  display: flex;
  margin: 1rem 0 0 0;
}

.card > .card__icon{
  filter: var(--ifm-icon-color);
}

.card:hover > .card__icon{
  filter: var(--ifm-icon-color-hover);
}

.card:hover > .card__body{
  color: var(--ifm-card-body-color-hover);
}

.card__header, .card__body{
  padding: 0;
}

.card__header{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin: 1rem 0 1rem 0;
  color: var(--ifm-card-header);
}

.card:hover > .card__header{
  color: var(--ifm-card-header-hover);
}

.card__body{
  font-weight: 500;
  font-size: 16px;
  padding-top: 0rem;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin: 0 0 1rem 0;
  color: var(--ifm-card-body-color);
}

.row .col.col--4 {
  padding-bottom: var(--ifm-spacing-vertical);
}

/* Search  */
.aa-DetachedSearchButtonIcon {
  color: var(--ifm-hero-text-color) !important;
}

.aa-DetachedSearchButton {
  color: var(--ifm-navbar-link-color) !important;
  border-radius: 1px !important;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: rgb(var(--ifm-navbar-background-color)) !important;
  width: 180px !important;
  font-weight: 500 !important;
  border-color: var(--ifm-input-border-color)!important;
  height: 40px !important;
  margin-right: 0.5rem !important;
}

.aa-DetachedContainer {
  background: var(--ifm-navbar-background-color) !important;
}

.aa-Form {
  background-color: var(--ifm-navbar-background-color) !important;
  border-color: var(--ifm-input-border-color)!important;
}

.aa-Label svg, .aa-LoadingIndicator svg {
  color: var(--ifm-navbar-link) !important;
}

.aa-DetachedSearchButtonPlaceholder{
  margin-left: 0.5rem;
}

.aa-DetachedCancelButton{
  background-color: var(--ifm-navbar-link) !important;
  color: var(--ifm-input-cancel-color) !important;
  font-weight: 500 !important;
  border-radius: 1px !important;
}

.aa-Form{
  border-radius: 1px !important;
}

.aa-Input{
  color: var(--ifm-input-text-color) !important;
  font-weight: 500 !important;
}

.aa-Panel{
  color: var(--ifm-input-text-color) !important;
  font-weight: 500 !important;
  background-color: var(--ifm-navbar-background-color) !important;
}
.aa-DetachedContainer {
  border-radius: 1px !important;
}

article{
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Mobile adjustment */

@media (min-width:996px) and (max-width:1100px){
  .navbar__link{
    font-size: 14px;
  }
}

/** In mobile view, reduce the padding */
@media screen and (max-width: 996px) {
  .main-wrapper .hero{
    padding: 2rem 0 0 0;
  }
  .hero .hero__title {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  header > div > h2 {
    line-height: 2rem;
  }
  .main-wrapper > main > section {
      padding: 1rem 0 0rem 0;
  }
  .footer__links {
    text-align: center;
  }
  .footer__bottom{
    text-align: center;
  }
  .menu__list-item a span svg{
    display: none;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar__logo{
    height: 2.2rem;
  }
  .aa-DetachedSearchButton {
    width: 120px !important;
  }
  
}

/* Extra bits removing Edit this page */

.theme-edit-this-page{
  display: none;
}


.navbar__title{
  font-size: 16px;
  font-weight: 700;
}